@font-face {
    font-family: "sixtyfour";
    src: url(./assets/SixtyFour/Sixtyfour/Sixtyfour-Regular-VariableFont_BLED\,SCAN.ttf);
}

body {
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: sixtyfour;
    background-color: black;
    color: white;
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 99vw;
    width: 99vw;
    margin-top: 0rem;
    margin-left: 0rem;
    padding: 0rem;
    font-size: larger;
    border: 0.30rem dashed white;
    border-radius: 1rem;
}

#navBar img {
    width: 5rem;
}

h1{
    padding-top: 4.5rem;
    padding-left:4rem;
    padding-bottom: 2rem;
    font-size: 1.9rem;
}

/* #contactUs{
    max-width: 99vw;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: 0.3rem dashed #f61067;
    border-radius: 1rem;
}
#contactHeader{
    padding-top: 1.5rem;
}
#registeredUsers{
    padding-top: 0rem;
    font-size: 1.2rem;
    margin-left: -50vw;
}
#request{
    padding-top: 0rem;
    font-size: 1.2rem;
    margin-right: -50vw;
} */

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 40vh;
    border: 0.2rem solid #5e29d5;
    border-radius: 5px;
}

#information {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {

}